<mat-toolbar class="petrobras">
  <button class="buttonSideBar">
    <img src="../../../assets/icons/menu.svg" routerLink="/">
  </button>
  <div class="title">
    <span>{{ title }}</span>
  </div>
  <div class="estiloToolBar">
      <span routerLink="/primeirocomponent" class="estilorotas">Link01</span>
      <span routerLink="/segundocomponent" class="estilorotas">Link02</span>
      <span routerLink="/terceirocomponent" class="estilorotas">Link03</span>
      <span routerLink="/quartocomponent" class="estilorotas">Link04</span>
      <span routerLink="/quintocomponent" class="estilorotas">Link05</span>
      <div class="divisao">|</div>
        <div class="imagens">
          <img src="../../../assets/icons/iconeusuario.svg" routerLink="/primeirocomponent" class="espaco">
          <img src="../../../assets/icons/config.svg" routerLink="/segundocomponent" class="espaco">
          <img src="../../../assets/icons/info.svg" routerLink="/terceirocomponent" class="espaco">
          <img src="../../../assets/icons/coment.svg" routerLink="/quartocomponent" class="espaco">
        </div>
    </div>
  </mat-toolbar>
